body {
    padding: 100px;
}

.submit-area {
    margin-top: 50px;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 5px 3px 15px goldenrod;
}

#transaction-area {
    display: none;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}

.status {
    margin: 20px 30px;
    color: white;
    padding: 40px;
    border-radius: 15px;
}